@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
header{
    background-color: rgb(77, 77, 112);
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
header nav ul {
    list-style: none;
}
header nav ul li{
    margin: 3px;
}
header nav ul li a{
    color: aqua;
    background-color: rgb(218, 65, 19);
    text-decoration: none;
    font-weight: 400;
    font-family: 'Bebas Neue', sans-serif;
    padding: 1px;
    border-radius: 5px;
}
header img{
    width: 8rem;
} 
section h1{
    background-color: rgb(0, 203, 230);
    display: flex;
    border: 2px dotted red;
    justify-content: center;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: smaller;
}
section h2{
    background-color: bisque;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    font-weight: 900;
}
section span{
    display: flex;
    background-color: bisque;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    font-weight: 900;
    font-size: xx-small;
    justify-content: center;
}
.cont-fotos{
    background-color: rgb(91, 91, 95);
}
.foto-inicio{
    display: grid;
    width: 20rem;
    border-radius: 30px;
}
footer {
    color: rgb(218, 65, 19);
    background-color: rgb(77, 77, 112);
    text-decoration-line: underline;
    font-weight: 400;
    text-align: center;
    font-family: 'Zen Tokyo Zoo', cursive;
}
/*header{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "img nav";
    background-color: rgb(77, 77, 112);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0px;   
    padding: 10px;
}
header img {
    width: 10rem;
    display: inline-block;
    grid-area: img;
}
header nav{
    grid-area: nav;
}
header nav ul {
    list-style-type: none;
    display: flex;  
    justify-content: space-around;  
}
header nav ul li{
    margin: 30px;
    align-items: start;
    
}
header nav ul li a{
    display: flex;
    color: aqua;
    text-decoration: none;
    background-color: rgb(218, 65, 19);
    padding: 10px;
    border-radius: 5px;
    font-size: 2rem;
    font-family: 'Bebas Neue', sans-serif;
}
section img{
    width: 25rem;
    border-radius: 25px;
}
Titulo */
/*h1{
    background-color: teal;
    width: 300px;
    height: 60px;
    display: flex;
    border: 2px dotted red;
    justify-content: center;
}
h1 p{
    background-color: teal;
    color: white;
    display: flex;
    border: 2px dotted red;
    text-align: center;
    font-size: xx-large;
    justify-content: center;
    font-family: fantasy;
    padding: 0;
}
.cont-fotos{
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    background-color: khaki;

}
.foto-inicio{
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
footer {
    color: rgb(218, 65, 19);
    background-color: rgb(77, 77, 112);
    text-decoration-line: underline;
    font-style: italic;
    font-size: xx-large;
}
*/
/*
iframe{
    background-color: lightseagreen;
    border: 1px solid black;
}
/* Listado de productos 
section ul li {
    background-color: black;
    color: white;
    font-size: xx-large;
    font-family: 'Playfair Display', serif;
}
p{
    font-size: x-large;
    background-color: white;
    color: black;
}*/