@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.cabecera {
  background-color: rgb(77, 77, 112);
  display: flex;
  padding: 5px;
  margin: 0;
}
.cabecera img {
  width: 10rem;
}
.cabecera nav ul {
  list-style: none;
  display: flex;
}
.cabecera nav ul li {
  margin: 10px;
}
.cabecera nav ul li a {
  color: aqua;
  background-color: rgb(218, 65, 19);
  text-decoration: none;
  font-weight: 500;
  font-family: "Bebas Neue", sans-serif;
  padding: 10px;
  border-radius: 5px;
}

.cabecera a:hover {
  background-color: aqua;
  color: rgb(218, 65, 19);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(77, 77, 112);
}

h1 {
  background-color: rgb(0, 203, 230);
  display: flex;
  border: 2px dotted red;
  justify-content: center;
  font-family: "Zen Tokyo Zoo", cursive;
}

footer {
  color: rgb(218, 65, 19);
  background-color: rgb(77, 77, 112);
  text-decoration-line: underline;
  font-weight: 400;
  text-align: center;
  font-family: "Zen Tokyo Zoo", cursive;
}

h2 {
  background-color: rgb(245, 245, 241);
  font-family: "Bebas Neue", sans-serif;
}
h2 p {
  color: rgb(2, 53, 2);
}

h6 img {
  width: 2rem;
  position: absolute;
  z-index: 1;
  right: end;
  bottom: end;
  transition: all 1s;
}

img:hover {
  transform: rotate(360deg);
}

.card-empresa {
  background-color: rgb(77, 77, 112);
}
.card-empresa .card-body {
  background-color: rgb(77, 77, 112);
  font-family: "Bebas Neue", sans-serif;
  color: rgba(0, 255, 255, 0.63);
}
.card-empresa .card-body .card-title {
  font-weight: bolder;
}

.Items-en-vta {
  background-image: url(../Imagrn/pasillo-de-un-supermercado_96b081e3_1280x720.jpg);
  display: flex;
}
.Items-en-vta ul {
  justify-content: space-between;
}
.Items-en-vta ul li {
  color: #ffffff;
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
