h6{
    a{
        display: flex;
        position: fixed;
        right: 10px;
        bottom: 5px;
        z-index: 1;
        transition: all 1s;
    }
        & a:hover{
            transform: rotate(360deg);
        }
    img{
        width: 3rem;
    }
}
