h6{
    a{
        position: absolute;
        display: grid;
        
        z-index: 1;
        
        transition: all 1s;

        &a:hover{
            transform: rotate(360deg);
        }
        img{
            width: 2rem;
           
        }
        
    
    
    }
    
}
