@import "variables.scss";
footer {
    color: $color-fuente;
    background-color: rgb(77, 77, 112);
    text-decoration-line: underline;
    font-weight: 400;
    text-align: center;
    font-family: $fuente-principal;
    }