@import "variables.scss";
.cabecera{
    background-color: $color-principal;
    display: flex;
    padding: 5px;
    margin: 0;
    img{
        width: 10rem;
    }
    nav {
        
        ul{
        list-style: none;
        display: flex;
        
        li{
            margin: 10px;
            
            a{
                color: aqua;
                background-color: $color-fuente;
                text-decoration: none;
                font-weight: 500;
                font-family: $fuente-secu;
                padding: 10px;
                border-radius: 5px;
            }
        }
      }
    }
}

.cabecera a:hover{
    background-color: aqua;
    color: $color-fuente;
}