@import "variables.scss";
.cabecera{
    background-color: $color-principal;
    display: flex;
    padding: 5px;
    margin: 0;
    img{
        width: 7rem;
    }
    nav ul{
        list-style: none;
        li{
            margin: 3px;
            a{
                color: aqua;
                background-color: $color-fuente;
                text-decoration: none;
                font-weight: 200;
                font-family: $fuente-secu;
                padding: 1px;
                border-radius: 5px;
            }
        }
      }
    }
a:hover{
    color: $color-fuente;
    background-color: aqua;
        }