
h4{   display: block;
    background-image: url(../Imagrn/cabecera-carne-vacuna-argentina.jpg);
    background-size: cover;
    background-position: center center;    

    font-size: xx-large;
    }
