@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


$color-principal: rgb(77, 77, 112);
$color-secu: rgb(245, 245, 241);
$fuente-principal: 'Zen Tokyo Zoo', cursive;
$fuente-secu: 'Bebas Neue', sans-serif;
$color-fuente: rgb(218, 65, 19);
$color-fuente-secu: rgb(2, 53, 2);
